img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 5px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.gridItem {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}